$darkGray: #333;
$bgColor: #fffef2;
$transparent: rgba(255, 255, 255, 0);

.mainMenu {
  display: flex;
  width: fit-content;
  position: relative;
  color: $darkGray;
  overflow-x: hidden;

  li {
    cursor: pointer;
  }

  @mixin domino {
    opacity: 0;
    animation: appear 1s ease 0s 1 normal forwards;
    transition: 1s;
  }

  @mixin menu($z-index) {
    position: relative;
    width: 33.333vw;
    min-height: 100vh;
    padding: 40px;
    background-color: $bgColor;
    border-right: 1px solid lightgray;
    z-index: $z-index;
    animation: accordion 1s ease 0s 1 normal forwards;
    transition: 1s;

    .category {
      position: absolute;
      top: 300px;
      width: 100%;
      font-size: 28px;

      li {
        width: fit-content;
        margin: 15px 5px;
        padding-bottom: 8px;
        border-bottom: 1px solid $transparent;
        @include domino;
      }
    }
  }

  .firstMenu {
    @include menu(2);

    .menuNav {
      width: 100%;
      height: 70px;

      ul {
        display: flex;

        li {
          position: relative;
          margin-right: 30px;

          hr {
            position: absolute;
            top: 12px;
            width: 0;
            border: none;
            border-bottom: 1px solid #333;
            transition: 0.5s;
          }
        }
      }

      i {
        position: absolute;
        top: 30px;
        right: 40px;
      }
    }

    i {
      position: absolute;
      top: 10px;
      right: 15%;
      color: $darkGray;
      font-size: 18px;
    }

    input {
      width: 85%;
      margin-bottom: 30px;
      padding-bottom: 5px;
      background-color: $transparent;
      border: none;
      border-bottom: 1px solid lightgray;
      outline-color: $transparent;
      font-size: 32px;

      &:focus-within {
        border-color: $darkGray;
      }
    }

    .logo {
      position: absolute;
      top: 150px;
      width: 100px;
      margin-bottom: 20px;
      transition: 1s;
    }
  }

  .secondMenu {
    @include menu(1);
  }

  .thirdMenu {
    @include menu(0);

    .seeAll {
      margin: 250px 0 30px 0;
      font-size: 26px;
    }

    .products {
      li {
        @include domino;

        .individualProduct {
          position: relative;
          width: 100%;
          height: 80px;
          margin: 10px 0;

          img {
            position: absolute;
            right: 0;
            height: 80px;
          }
          .productInfo {
            position: absolute;

            p {
              &:first-child {
                margin: 15px 0;
              }

              &:last-child {
                color: rgb(110, 110, 110);

                span {
                  color: lightgray;
                }
              }
            }
          }
        }
      }
    }
  }

  .prevMenu {
    animation: accordion 1s ease 0s 1 reverse forwards;
  }

  @keyframes appear {
    from {
      transform: translateX(-20px);
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes accordion {
    from {
      transform: translateX(-100%);
    }
    to {
    }
  }
}
