@mixin filterStyle {
  margin-left: 20px;
  width: 20%;
  height: 350px;
}
@mixin listStyle {
  ul {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    li {
      margin-bottom: 20px;
    }
  }
}
@mixin headerStyle {
  border-bottom: 1px solid #c6c5bc;
  padding-bottom: 10px;
  margin-right: 30px;
}

.filterBarNavExpend {
  position: sticky;
  top: 100px;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 350px;
  padding: 20px;
  color: #666666;
  background-color: #eaeade;
  font-family: 'Suisse Regular', sans-serif;
  font-size: 14px;
  // .openFilterBarNavExpend {
  animation: slide 0.5s ease-in-out 0s 1 normal;
  .closeFilterBarNavExpend {
    animation: slide 0.5s ease-in-out 0s 1 reverse;
  }

  .filterSkinType {
    @include filterStyle;

    .themeSkinType {
      @include headerStyle();
    }

    @include listStyle;
  }

  .filterUse {
    @include filterStyle;

    .themeUse {
      @include headerStyle;
    }
    @include listStyle;
  }

  .filterSmell {
    @include filterStyle;

    .themeSmell {
      @include headerStyle;
    }
    @include listStyle;
  }
}

@keyframes slide {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
