.bodyBack {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.orderList {
  position: relative;
  top: 5%;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  color: #333;

  .onLogin {
    animation: test 0.5s ease-in-out 0s 1 normal forwards;
  }

  .offLoginPage {
    animation: test 0.5s ease-in-out 0s 1 reverse forwards;
  }

  .modalBody {
    margin: 8% auto;
    padding: 40px 50px;
    max-width: 1000px;
    background-color: #fffef2;
    transform: translateZ(0);
    opacity: 1px;

    .modalCloseBtn {
      float: right;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .modalHeadingWrap {
      padding-bottom: 30px;

      .modalTitle {
        margin: 0;
        padding: 40px 0px 10px;
        color: black;

        line-height: 1.33;
      }
      p {
        display: block;
        line-height: 1.7;
        font-size: 18px;
        color: #666;
      }
    }

    table {
      width: 100%;
      font-size: 18px;
      margin-bottom: 20px;

      tr {
        border-bottom: 1px solid rgb(75, 75, 75);
        align-items: center;

        &:first-child {
          color: rgb(0, 0, 0);
          border-bottom: 2px solid rgb(75, 75, 75);
        }
      }

      th,
      td {
        position: relative;
        padding: 15px 0;
        text-align: left;

        &:first-child {
          width: 50%;
        }

        p {
          display: none;
          position: absolute;
          top: 25px;
          left: 50px;
        }
      }
    }

    .orderInfo {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      color: #333;
    }

    .btnLogin {
      position: relative;
      margin: 30px 0 0;
      padding: 21px 23px;
      width: 100%;
      height: 60px;
      min-width: 210px;
      background-color: #333;
      color: white;
      border: 1px solid rgba(51, 51, 51, 0.2);
      transition: all 0.5s ease;
      cursor: pointer;
    }
  }

  @keyframes test {
    from {
      transform: scale(0.2);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}
