.detail {
  margin: -200px 0 80px 25%;

  .detailProduct {
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    animation: smoothAppear 1s;

    .detailImg {
      width: 400px;
      img {
        width: 100%;
      }

      .btnSize {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        font-size: 16px;
        color: #333333;
      }
    }

    .detailBox {
      width: 450px;
      color: #333333;
      font-size: 16px;

      .category {
        display: flex;
        margin: {
          right: 30px;
          bottom: 20px;
        }
      }

      .detailNameExplain {
        border-bottom: 2px solid black;

        .detailName {
          margin-bottom: 20px;
          font-size: 28px;
        }

        .detailExplain {
          margin-bottom: 20px;
        }
      }

      .detailInfo {
        margin-top: 15px;
        line-height: normal;

        p {
          margin-bottom: 10px;

          &:last-child {
            color: #686868;
          }
        }
        li {
          margin-bottom: 15px;
          border-bottom: 1px solid #d6d5cc;

          &:last-child {
            border-bottom: none;
          }
        }
      }

      .addCart {
        width: 100%;
        height: 50px;
        border: solid 1px #333333;
        background-color: #333333;
        color: #fffef2;
        font-size: 16px;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          background-color: black;
        }
      }
    }
  }
  @keyframes smoothAppear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
