.filterBar {
  position: relative;

  .filterBarNav {
    background-color: #eaeade;
    height: 100px;
    font-family: 'Suisse Regular', sans-serif;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 5;

    .filterList {
      height: 20px;

      li {
        float: left;
        padding-left: 20px;
        color: #666666;

        &:hover {
          text-decoration: underline;
          text-decoration: #666666;
        }
      }
    }

    .filterCategory {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  .filterBarAfter {
    @extend .filterBarNav;
    position: fixed;
    border-bottom: 1px solid lightgray;
    width: 100vw;
    top: 0px;
    background-color: #fffef2;
    z-index: 5;

    .logo {
      width: 60px;
      margin-left: 20px;
    }
  }
}
