* {
  box-sizing: border-box;
}

body {
  background-color: #fffef2;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
