.footer {
  background-color: #252525;
  color: white;
  font-size: 60px;

  .gridContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 30px;
    min-height: 550px;

    .box {
      .inputBox {
        position: relative;

        input[type='text'] {
          width: 100%;
          height: 40px;
          margin-bottom: 20px;
          padding: 0 10px;
          color: white;
          background-color: #252525;
          border: 1px solid white;
          border-radius: 5px;
          font-size: 20px;
          outline: none;

          &::placeholder {
            color: white;
            transition: 1s;
          }

          &:focus::placeholder {
            color: rgba(255, 0, 0, 0);
          }
        }

        i {
          position: absolute;
          top: 22%;
          right: 2%;
        }
      }

      > p {
        margin-bottom: 15px;
      }

      input[type='checkbox'] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked + span {
          background-color: rgb(177, 165, 216);
        }
      }

      span {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 10px;
        border: 1px solid white;
        transform: translateY(2px);
      }

      .title {
        height: 50px;
        margin-bottom: 15px;
        border-bottom: 1px solid white;
      }

      font-size: 14px;
      color: #fffef2;
      line-height: 2;
    }
  }

  .banner {
    height: 70px;
    border-top: 3px solid lightgray;

    p {
      margin-top: 25px;
      margin-left: 10px;
      font-size: 16px;
    }
  }
}
