.shippingBanner {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #252525;;
  border: 1px solid
}


.shippingBannerButton {
  height: 21px;
  margin: auto;
  background: transparent;
  border: 0;
}

.shippingBannerContent {
  color: #fffef2;
}


.navHeader {
  height: 69px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.navHeaderContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navHeaderNenu {
  padding-left: 40px;
}


.navHeaderLoginAndCart {
  padding-right: 40px;
}


.navHeaderNenuListText {
  margin-right: 25px;
}


.navHeaderLoginAndCartText {
  margin-left: 25px;
}


li {
  float: left;
}


